body{
    background-color: #FAF9F6;
    color: #333333;
    font-family: sans-serif;
}

.table {
    color: #333333;
}

header {
    width: 100%;
    padding: 20px 4% 20px;
    background-color: #008080;
}

main {
    width: 100%;
    padding: 20px 0px;
}

table {
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    color: #CBC9C9;
    text-align: center;
    margin: auto;
    border: solid 1.5px #333333;
    margin-bottom: 25px;
}

table td {
    border: solid 1.5px #333333;
    padding: 15px
}


header h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #FAF9F6;
}

.information {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.information a {
    line-height: 2em;
}

.menu h2 {
    font-size: 25px;
    background-color: #008080;
    color: #FAF9F6;
    padding: 5px;
    padding: 5px 4% 5px;
    font-weight: bold;
}

.menu li {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 4% 5px;
}

.menu ul {
    margin-bottom: 5px;
}

footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #008080;
}

footer p {
    color: #FAF9F6;
    font-size: 10px;
    text-align: center;
}

a {
    position: relative;
}

a::after {
    position: absolute;
    bottom: 3px;
    right: -20px;
    transform: rotate(-30deg);
    display: block;
    width: 20px; /* アイコンのサイズに合わせる */
    height: 20px; /* アイコンのサイズに合わせる */
    content: "";
    background-image: url("link.png");
    background-repeat: no-repeat;
    background-size: contain; /* アイコンのサイズに合わせる */
}

h2 a::after{
    position: absolute;
    bottom: 3px;
    right: -20px;
    transform: rotate(-30deg);
    display: block;
    width: 20px; /* アイコンのサイズに合わせる */
    height: 20px; /* アイコンのサイズに合わせる */
    content: "";
    background-image: url("link.png");
    filter: invert(100%);
    background-repeat: no-repeat;
    background-size: contain; /* アイコンのサイズに合わせる */
}